[submodule "bundle/tmux-config"]
	path = bundle/tmux-config
	url = git://github.com/pivotal/tmux-config.git
[submodule "bundle/vim-ruby-debugger"]
	path = bundle/vim-ruby-debugger
	url = git://github.com/astashov/vim-ruby-debugger.git
[submodule "bundle/covim"]
	path = bundle/covim
	url = git://github.com/FredKSchott/CoVim.git
[submodule "bundle/vim-coffee-script"]
	path = bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
